{% extends "base.html" %}
{% load django_nova_tags %}

{% block headercss %}
{% endblock %}
{% block pageclass %}home{% endblock %}

{% block title %} - Cloud Computing{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Welcome to the {% site_branding %} Dashboard</h2>
    <p>Through the {% site_branding %} Dashboard you can manage your cloud
      through a crisp, clean, and easy to use interface.
      {% if not request.user.is_authenticated%}To get started
      <a href="{% url registration_register %}">register</a> or sign in below.{% endif %}
    </p>
  </div>

  {% if request.user.is_authenticated %}
  <div id="sidebar">
    <ul id="navigation">
      {% block nav_home %}
      <li class="first"><h3><a href="/">Home</a></h3></li>
      {% endblock %}

      <li>
        <div id="projects">
            <div id="irt" class="project active">
                <ul>
                  <li>
                      <form id="frm_region" method="post" action="#">
                        {% csrf_token %}
                        <fieldset>
                          <input name="redirect_url" type="hidden" value="{{ request.get_full_path }}" />
                          <noscript>
                            <input id="btn_region_change" type="submit" value="Change" />
                          </noscript>
                            <label for="sel_region">Region: </label>
                            <select id="sel_region" name="region">
                              {% if regions %}
                                {% for region in regions %}
                                  <option{% if region.name == current_region.name %} selected{% endif %}>
                                    {{ region.name }}
                                  </option>
                                {% endfor %}
                              {%else%}
                                  <option value="1" selected>Nova</option>
                              {%endif%}
                            </select>
                        </fieldset>
                      </form>
                  </li>
                  <li {% if sidebar_selected == "instances" %}class="active"{% endif %}>
                    <a id="lnk_instances_IRT" href="/open/instances">Instances</a>
                  </li>
                  <li {% if sidebar_selected == "images" %}class="active"{% endif %}>
                    <a id="lnk_images_IRT" href="/open/images">Images</a>
                  </li>
                  <li {% if sidebar_selected == "flavors" %}class="active"{% endif %}>
                    <a id="lnk_keypairs_IRT" href="/open/flavors">Flavors</a>
                  </li>
                  <li {% if sidebar_selected == "keys" %}class="active"{% endif %}>
                    <a id="lnk_keypairs_IRT" href="/open/keys">Keys</a>
                  </li>
                  <li {% if sidebar_selected == "volumes" %}{% endif %}>
                    <a id="lnk_volumes_IRT" href="/open/volumes">Volumes</a>
                  </li>
                </ul>
            </div>
        </div>
      </li>
   </ul>
  </div>

  <div class="home_block">
    <h3>OpenStack Resources</h3>
    <ul>
      <li><a href="http://openstack.org" target="_blank">OpenStack.org</a></li>
      <li><a href="http://wiki.openstack.org/OpenStackDashboard" target="_blank">OpenStack Dashboard Wiki</a></li>
      <li><a href="https://launchpad.net/openstack-dashboard" target="_blank">OpenStack Dashboard Launchpad Repository</a></li>
    </ul>
  </div>

  {% else %}
    <div id="home_login" class="block">
      <h3>Sign In</h3>
      <form action="{% url auth_login %}" method="post">
        {% csrf_token %}
        <fieldset>
          {% if form.errors %}
          <p class="error">Your username and password didn't match. Please try again.</p>
          {% endif %}
          <label for="username">Username:</label><input id="username" type="text" name="username" />
          <label for="password">Password:</label><input id="password" type="password" name="password" />
          <input type="hidden" name="next" value="/" />
          <div class="button">
            <input id="home_login_btn" type="submit" value="Sign In">
            <span id="forgot_password"><a id="forgot_password_link" href="{% url auth_password_reset %}">Forgot Password?</a></span>
          </div>
        </fieldset>
      </form>
    </div>
    {% if not request.user.is_authenticated %}
      <div class="home_block">
        <h3>Don't have an account?</h3><br/>
        <a id="lnk_register" href="{% url registration_register %}">Register</a>
      </div>
    {% endif %}
    <div class="home_block">
      <h3>OpenStack Resources</h3>
      <ul>
        <li><a href="http://openstack.org" target="_blank">OpenStack.org</a></li>
        <li><a href="http://wiki.openstack.org/OpenStackDashboard" target="_blank">OpenStack Dashboard Wiki</a></li>
        <li><a href="https://launchpad.net/openstack-dashboard" target="_blank">OpenStack Dashboard Launchpad Repository</a></li>
      </ul>
    </div>
  {% endif %}
{% endblock %}
