      {% if instances %}
      <table style="width: 100%">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>IP</th>
          <th>Image</th>
          <th>Flavor</th>
          <th colspan="2">Status</th>
        </tr>
        {% for server in instances %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="#">{{ server.id }}</a></td>
            <td class="odd">{{server.name}}</td>
            <td>{% if server.public_ip %}{{server.public_ip}} - {%endif%}{{ server.private_ip }}</td>
            <td class="odd">{{ server.imageId }}</td>
            <td>{{ server.flavorId }}</td>
            <td class="odd">{{ server.status }}</td>
            <td id="actions" class="odd">
              <form id="form_terminate_{{ server.id }}" class="form-terminate" method="post" action="{% url novaO_terminate %}" >
                <input name="instance_id" type="hidden" value="{{ server.id }}" />
                <input id="terminate_{{server.id}}" class="terminate" type="submit" value="Terminate" />
                {% csrf_token %}
              </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-info"></span>
            No instances are currently running. You may start a new instance from the <a href="{% url novaO_images %}">images</a> tab.
          </p>
        </div>
      </div>
      {% endif %}
