{% extends "openbase.html" %}

{% block title %} - Images{% endblock %}
{% block pageclass %}images{% endblock %}

{% block content %}
  <div id="page_head" class='home_block'>
    <div id="spinner"></div>

    <h2 id="page_heading">Images</h2>
    <p id="page_description">Images are virtual machines used to create Instances.</p>
  </div>

  {% include "_messages.html" %}

  <div id="images">
      {% if images %}
      <table style="width: 100%">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
          <th colspan="2">Status</th>
        </tr>
        {% for image in images %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="odd">{{image.id}}</td>
            <td>{{ image.name }}</td>
            <td class="odd">{{ image.created|date:"Y-m-d H:i" }}</td>
            <td>{{ image.updated|date:"Y-m-d H:i" }}</td>
            <td class="odd">{{ image.status }}</td>
            <td class="image_launch_btn odd">
                <a id="launch_{{ image.id }}" class="launch" href="{% url novaO_image_launch image.id %}">Launch</a>
            </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-info"></span>
            No images are currently registered.
          </p>
        </div>
      </div>
      {% endif %}
  </div>
  <div id="connection_error" style="display:none;" title="Connection Error">
    <p><span class="ui-icon ui-icon-alert"></span>A connection error has occurred. Please ensure you are still connected to VPN.</p>
  </div>
{% endblock %}
