{% extends "openbase.html" %}

{% block title %} - Images{% endblock %}
{% block pageclass %}images{% endblock %}

{% block content %}
  <div id="page_head" class='home_block'>
    <div id="spinner"></div>

    <h2 id="page_heading">Launch Instance from Image</h2>
    <p id="page_description">Servers are launched from Images with Flavors and optional IP Groups.</p>
  </div>

  {% include "django_nova/_messages.html" %}

  <div id="image_launch">
    <form id="launch_img" action="{% url novaO_image_launch %}" method="post">{% csrf_token %}
        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
        <table>
            {% for field in form.visible_fields %}
            <tr class="{% cycle 'odd' 'even'%}">
                <td class="lft_lbl">{{ field.label_tag }}:
                    {%if field.errors%}{{ field.errors }}{%endif%}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <p><input type="submit" value="Launch Instance" /></p>
    </form>
  </div>
  <div id="connection_error" style="display:none;" title="Connection Error">
    <p><span class="ui-icon ui-icon-alert"></span>A connection error has occurred. Please ensure you are still connected to VPN.</p>
  </div>
{% endblock %}
