{% extends "openbase.html" %}

{% block title %} - Instances{% endblock %}
{% block pageclass %}instances{% endblock %}

{% block content %}
  <div id="page_head" class='home_block'>
    <div id="spinner"></div>

    <h2 id="page_heading">Instances</h2>
    <p id="page_description">Instances are virtual servers launched from images. You can launch instances from the <a href="{% url novaO_images %}">images tab</a>.</p>
  </div>

  {% include "_messages.html" %}

  <div id="instances">
    {% include "_instances_list.html" %}
  </div>

  <div id="dlg_confirm" title="Confirm Termination" style="display:none;">
    <p>Are you sure you wish to terminate instance <span id="spn_terminate"></span>?</p>
  </div>

  <div id="connection_error" style="display:none;" title="Connection Error">
    <p><span class="ui-icon ui-icon-alert"></span>A connection error has occurred. Please ensure you are still connected to VPN.</p>
  </div>
{% endblock %}
