{% extends "base-root.html" %}

{% block sidebar %}
  <div id="sidebar">
    <ul id="navigation">
      {% block nav_home %}<li class="first"><h3><a href="/">Home</a></h3></li>{% endblock %}
      <li>
        <div id="projects">
            <div id="irt" class="project active">
                <ul>
                  <li {% if sidebar_selected == "instances" %}class="active"{% endif %}>
                    <a id="lnk_instances" href="/open/instances">Instances</a>
                  </li>
                  <li {% if sidebar_selected == "images" %}class="active"{% endif %}>
                    <a id="lnk_images" href="/open/images">Images</a>
                  </li>
                  <li {% if sidebar_selected == "flavors" %}class="active"{% endif %}>
                    <a id="lnk_keypairs" href="/open/flavors">Flavors</a>
                  </li>
                  <li {% if sidebar_selected == "keys" %}class="active"{% endif %}>
                    <a id="lnk_keypairs" href="/open/keys">Keys</a>
                  </li>
                  <li {% if sidebar_selected == "volumes" %}class="active"{% endif %}>
                    <a id="lnk_volumes" href="/open/volumes">Volumes</a>
                  </li>
                </ul>
            </div>
        </div>
      </li>
   </ul>
  </div>
{% endblock %}
{% block rootcontent %}
{% block content %}{% endblock %}
{% endblock %}
