{% extends "openbase.html" %}

{% block title %} - Volumes{% endblock %}
{% block pageclass %}volumes{% endblock %}

{% block content %}
  <div id="page_head" class='home_block'>
    <div id="spinner"></div>

    <h2 id="page_heading">Volumes</h2>
    <p id="page_description">Volumes are virtual disks used by Instances for persistent storage.</p>
  </div>

  {% include "_messages.html" %}
  <div>
       <a id="refresh_list" class="launch" href="javascript:window.location.reload();">Refresh List</a>
       <a id="top_button" class="launch" href="#">Create Volumes</a>
  </div>
  <div id="volumes">
      {% if volumes %}
      <table style="width: 100%">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Size</th>
          <th>Created</th>
          <th> </th>
        </tr>
        {% for volume in volumes %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td class="odd">{{volume.id}}</td>
            <td>{{ volume.displayName }}</td>
            <td class="odd">{{ volume.status }}</td>
            <td>{{ volume.size }}GB</td>
            <td>{{ volume.createdAt|date:"Y-m-d H:i"  }}
            <td>
              {% if volume.status == "available" %}
                <form id="form_terminate_{{ volume.id }}" class="form-terminate" method="post" action="{% url novaO_vol_terminate %}" >
                  <input name="volume_id" type="hidden" value="{{ volume.id }}" />
                  <input id="terminate_{{volume.id}}" class="terminate" type="submit" value="Delete" />
                  {% csrf_token %}
                </form></td>
              {% else %}
                  <p class="form-terminate-spacer"> &nbsp; </p>
              {% endif %}       
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="ui-widget">
        <div class="ui-state-highlight ui-corner-all">
          <p>
            <span class="ui-icon ui-icon-info"></span>
            No volumes are currently available.
          </p>
        </div>
      </div>
      {% endif %}
  </div>
  <div id="connection_error" style="display:none;" title="Connection Error">
    <p><span class="ui-icon ui-icon-alert"></span>A connection error has occurred. Please ensure you are still connected to VPN.</p>
  </div>
{% endblock %}
